@charset "utf-8";

/******************************************************
*   LINE最新情報更新モーダル
******************************************************/
.modalLineLatestUpdate { position: relative; }

/******************************************************
*   LINE最新情報更新モーダル：プロフィールコンテナー
******************************************************/
.modalLineLatestUpdate .lineProfileContainer {
    margin-bottom: 10px;
    border: solid 1px var(--colorGray);
    border-radius: 4px;
}

/******************************************************
*   LINE最新情報更新モーダル：エラーメッセージ
******************************************************/
.modalLineLatestUpdate main .errorMessage { margin-bottom: 10px; }

/******************************************************
*   LINE最新情報更新モーダル：最新情報で更新ボタン
******************************************************/
.modalLineLatestUpdate main button { width: 100%; }