@charset "utf-8";

/******************************************************
*   サービス提供者設定モーダル
******************************************************/
.modalServiceProviderSetting {
    position: relative;
    width: 500px;
}

.modalServiceProviderSetting .row {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 20px;
}

.modalServiceProviderSetting .errorMessage { margin-bottom: 20px; }

.modalServiceProviderSetting .row:last-child { margin-bottom: 0px; }

.modalServiceProviderSetting .row button { width: 100%; }