@charset "utf-8";

/******************************************************
*   共通レイアウト：Gridページ
******************************************************/
.gridPageContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/******************************************************
*   見出し
******************************************************/
.pageCaption { padding-bottom: 10px; }

/******************************************************
*   メイン
******************************************************/
.gridPageContainer main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/******************************************************
*   メイン：上部
******************************************************/
.gridPageContainer main .topContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 15px;
    column-gap: 10px;
    row-gap: 10px;
}

/******************************************************
*   メイン：検索条件コンテナー
******************************************************/
.gridPageContainer main .searchContainer {
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}

/******************************************************
*   メイン：リロードボタンコンテナー
******************************************************/
.gridPageContainer main .rightContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/******************************************************
*   メイン：グリッド
******************************************************/
.gridPageContainer main .gridContainer {
    flex: 1;
}

.gridPageContainer main .gridContainer .grid {
    height: 100%;
}