@charset "utf-8";

/******************************************************
*   パンくずリスト
******************************************************/
.breadcrumbTrail {
    display: flex;
}

.breadcrumbTrail .link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    width: 120px;
    font-weight: bold;
    color: var(--themeColor);
    cursor: pointer;
}

.breadcrumbTrail .link::after {
    content: "▶";
    font-size: 8px;
}

.breadcrumbTrail .link:last-child::after { content: ""; }

.breadcrumbTrail .link:hover { background-color: white; }

/******************************************************
*   ページ見出し
******************************************************/
.pageCaption { padding: 15px; }

.pageCaption .caption {
    font-size: 16px;
    font-weight: bold;
}

.pageCaption .comment {
    margin-top: 10px;
    margin-left: 15px;
}

/******************************************************
*   非表示コンテナー
******************************************************/
.hideContainer { display: none; }

/******************************************************
*   labelBox
******************************************************/
.labelBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    width: max-content;
    border-radius: 3px;
    border: solid 1px var(--colorGray);
}

.labelBox.red {
    color: var(--colorRed);
    border: solid 1px var(--colorRed);
}

.labelBox.blue {
    color: var(--colorBlue);
    border: solid 1px var(--colorBlue);
}

.labelBox.lightBlue {
    color: var(--colorLightBlue);
    border: solid 1px var(--colorLightBlue);
}

.labelBox.green {
    color: var(--colorGreen);
    border: solid 1px var(--colorGreen);
}

.labelBox.violet {
    color: var(--colorViolet);
    border: solid 1px var(--colorViolet);
}

/******************************************************
*   リロードボタン
******************************************************/
button.reload { padding: 5px; }

button.reload svg {
    width: 16px !important;
    height: 16px !important;
}

button.reload svg path { fill: white !important; }

button.reload:hover svg path,
button.reload:focus svg path {
    fill: var(--colorBlue) !important;
}

/******************************************************
*   情報テーブル
******************************************************/
.infoTable tr { border-bottom: solid 1px var(--colorLightGray); }

.infoTable tr:last-child { border-bottom: none; }

.infoTable th, .infoTable td { padding: 10px; }

.infoTable th {
    width: 100px;
    background-color: var(--colorLightGray);
}

/******************************************************
*   丸マーク画像表示コンテナー
******************************************************/
.circleImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.circleImgContainer .imgBox {
    width: 130px;
    height: 130px;
    border: solid 1px var(--colorGray);
    border-radius: 50%;
    cursor: pointer;
}

.circleImgContainer .imgBox img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}