@charset "utf-8";

/******************************************************
*   パンくずリスト
******************************************************/
.breadcrumbTrail {
    display: flex;
}

.breadcrumbTrail .link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    width: 120px;
    font-weight: bold;
    color: var(--themeColor);
    cursor: pointer;
}

.breadcrumbTrail .link::after {
    content: "▶";
    font-size: 8px;
}

.breadcrumbTrail .link:last-child::after { content: ""; }

.breadcrumbTrail .link:hover { background-color: white; }

/******************************************************
*   ページ見出し
******************************************************/
.pageCaption { padding: 15px; }

.pageCaption .caption {
    font-size: 16px;
    font-weight: bold;
}

.pageCaption .comment {
    margin-top: 10px;
    margin-left: 15px;
}