@charset "utf-8";

:root {
    --fontSize: 14px;
    --fontColor: #111111;
    --colorRed: #d60000;
    --colorBlue: #0051ff;
    --colorLightBlue: #00c9eb;
    --colorGreen: #00e500;
    --colorLightGreen: #23ed0c;
    --colorGray: #bdbdbd;
    --colorLightGray: #f1f1f1;
    --colorDarkGray: #333333;
    --colorViolet: #9800df;
}

/******************************************************
*   body
******************************************************/
body {
    color: var(--fontColor);
    font-size: var(--fontSize);
    font-family: 'Yu Gothic UI', 'メイリオ', 'Meiryo', sans-serif;
}

/******************************************************
*   margin
******************************************************/
.m-1 { margin: 1px; }
.m-r-10 { margin-right: 10px; }

/******************************************************
*   margin
******************************************************/
.p-1 { padding: 1px; }

/******************************************************
*   color
******************************************************/
.fc-green { color: var(--colorGreen); }
.fc-red { color: var(--colorRed); }

/******************************************************
*   font-weight
******************************************************/
.fw-bold { font-weight: bold; }

/******************************************************
*   width
******************************************************/
.w-100p { width: 100%; }

/******************************************************
*   height
******************************************************/
.h-100p { height: 100%; }

/******************************************************
*   flex
******************************************************/
.flex { display: flex; }
.flex.center { justify-content: center; align-items: center; }

/******************************************************
*   input[type=text]
******************************************************/
input[type=text] {
    padding: 5px 15px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 1px var(--colorGray);
}

input[type=text]:focus {
    outline: none;
    box-shadow: 0px 0px 2px 1px var(--colorBlue);
}

input[type=text].large { padding: 13px 15px; }

/******************************************************
*   input[type=password]
******************************************************/
input[type=password] {
    padding: 5px 15px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 1px var(--colorGray);
}

input[type=password]:focus {
    outline: none;
    box-shadow: 0px 0px 2px 1px var(--colorBlue);
}

input[type=password].large { padding: 13px 15px; }

/******************************************************
*   input[type=date]
******************************************************/
input[type=date] {
    padding: 4px 15px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 1px var(--colorGray);
}

input[type=date]:focus {
    outline: none;
    box-shadow: 0px 0px 2px 1px var(--colorBlue);
}

input[type=date].large { padding: 13px 15px; }

/******************************************************
*   input[type=checkbox]
******************************************************/
.checkBox {
    display: flex;
    align-items: center;
}

input[type=checkbox] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: solid 1px var(--colorGray);
    border-radius: 3px;
    appearance: auto;
}

/******************************************************
*   input[type=radio]
******************************************************/
.radioBox {
    display: flex;
    align-items: center;
}

input[type=radio] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    appearance: auto;
}

/******************************************************
*   textarea
******************************************************/
textarea {
    padding: 5px 15px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 1px var(--colorGray);
}

textarea:focus {
    outline: none;
    box-shadow: 0px 0px 2px 1px var(--colorBlue);
}

/******************************************************
*   select
******************************************************/
select {
    padding: 5px 15px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 1px var(--colorGray);
    cursor: pointer;
}

select.large { padding: 13px 15px; }

select:focus {
    outline: none;
    box-shadow: 0px 0px 2px 1px var(--colorBlue);
}

.selectBox {
    position: relative;
    height: fit-content;
    width: fit-content;
}

.selectBox select {
    padding-right: 40px;
}

.selectBox::before {
    content: "▼";
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 8px;
    color: var(--colorBlue);
    pointer-events: none;
}

.selectBox.full, .selectBox.full select { width: 100%; }

/******************************************************
*   button
******************************************************/
button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    width: max-content;
    box-shadow: 0px 0px 1px 1px var(--colorGray);
    border-radius: 3px;
}

button.large { padding: 13px 15px; }

button:focus, button:hover {
    outline: none;
    box-shadow: 0px 0px 2px 1px var(--colorBlue);
}

button.blue {
    color: white;
    box-shadow: 0px 0px 1px 1px var(--colorBlue);
    background-color: var(--colorBlue);
}

button.blue:focus, button.blue:hover {
    color: var(--colorBlue);
    background-color: white;
    box-shadow: 0px 0px 2px 1px var(--colorBlue);
}

button.green {
    color: white;
    box-shadow: 0px 0px 1px 1px var(--colorGreen);
    background-color: var(--colorGreen);
}

button.green:focus, button.green:hover {
    color: var(--colorGreen);
    background-color: white;
    box-shadow: 0px 0px 2px 1px var(--colorGreen);
}

button.red {
    color: white;
    box-shadow: 0px 0px 1px 1px var(--colorRed);
    background-color: var(--colorRed);
}

button.red:focus, button.red:hover {
    color: var(--colorRed);
    background-color: white;
    box-shadow: 0px 0px 2px 1px var(--colorRed);
}

/******************************************************
*   a
******************************************************/
a {
    color: var(--colorBlue);
    cursor: pointer;
}