@charset "utf-8";

/******************************************************
*   LINE情報ページ
******************************************************/
.lineInfoPageContainer {
    width: 100%;
    height: 100%;
}

/******************************************************
*   左右分割コンテナー
******************************************************/
.splitContainer {
    display: flex;
    width: 100%;
    height: 100%;
}

/******************************************************
*   内部コンテナー
******************************************************/
.splitContainer > .container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.splitContainer > .leftContainer {
    position: relative;
    border-right: solid 1px var(--colorDarkGray);
}

/******************************************************
*   内部コンテナー：ヘッダー
******************************************************/
.splitContainer > .container > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.splitContainer > .container > header .caption {
    font-size: 16px;
    font-weight: bold;
}

.splitContainer > .container > header button { min-width: 120px; }

/******************************************************
*   内部コンテナー：メイン
******************************************************/
.splitContainer > .container > main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/******************************************************
*   LINEユーザー情報コンテナー
******************************************************/
.lineUserContainer { flex: 1; }