@charset "utf-8";

/******************************************************
*   １対１トークページ
******************************************************/
.lineOneToOnePageContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/******************************************************
*   見出し
******************************************************/
.pageCaption { padding-bottom: 10px; }

/******************************************************
*   見出しの「LINE」の文言を緑色に設定
******************************************************/
.pageCaption .comment .line {
    color: var(--colorGreen);
    font-weight: bold;
}

/******************************************************
*   LINEリストコンテナー
******************************************************/
.lineListContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/******************************************************
*   LINEリスト上部
******************************************************/
.lineListContainer .topContainer {
    display: flex;
    justify-content: space-between;
}

.lineListContainer .topContainer .content {
    margin: 10px;
}

/******************************************************
*   LINEリスト検索条件コンテナー
******************************************************/
.lineListContainer .searchContainer {
    flex: 1;
    display: flex;
}

/******************************************************
*   LINEリスト表示順,リロードボタンコンテナー
******************************************************/
.lineListContainer .rightContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

/******************************************************
*   LINEリストグリッド
******************************************************/
.lineListContainer .gridContainer {
    flex: 1;
}

.lineListContainer .gridContainer .grid {
    height: 100%;
}