@charset "utf-8";

/******************************************************
*   ログインページ
******************************************************/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--colorLightGray);
}

.loginContainer {
    min-width: 300px;
}

.loginContainer .systemName {
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: var(--colorBlue);
    border-bottom: solid 1px black;
}

.loginContainer form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.loginContainer input {
    margin-top: 10px;
    width: 100%;
    background-color: white;
}

.loginContainer button { width: 100%; }

.loginContainer .errorMessage { display: block; }