@charset "utf-8";

/******************************************************
*   サービス提供者情報ページ
******************************************************/
.serviceProviderPageContainer {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 13px;
}

/******************************************************
*   サービス提供者情報ページ：メイン
******************************************************/
.serviceProviderPageContainer > main {
    flex: 1;
    padding: 0px 25px;
    overflow: auto;
}

/******************************************************
*   サービス提供者情報ページ：右サイドメニュー
******************************************************/
.serviceProviderPageContainer > .rightSubMenu {
    min-width: 250px;
    border-left: solid 1px var(--colorLightGray);
}

/******************************************************
*   サービス提供者情報ページ：コンテナー
******************************************************/
.serviceProviderPageContainer .contentContainer {
    padding: 15px 0px;
    border-bottom: solid 1px var(--colorLightGray);
}

/******************************************************
*   サービス提供者情報ページ：表示項目
******************************************************/
.serviceProviderPageContainer .itemBox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.serviceProviderPageContainer .itemName { font-weight: bold; }

/******************************************************
*   サービス提供者情報ページ：プロフィール
******************************************************/
.serviceProviderPageContainer .profile {
    display: flex;
    flex-direction: column;
    margin: 15px;
    font-size: 12px;
    border: solid 1px var(--colorLightGray);
    border-radius: 4px;
    overflow: hidden;
}

.serviceProviderPageContainer .profile .row {
    flex: 1;
    display: flex;
    border-bottom: solid 1px var(--colorLightGray);
}

.serviceProviderPageContainer .profile .row:last-child { border-bottom: none; }

.serviceProviderPageContainer .profile .itemName {
    display: flex;
    align-items: center;
    padding: 10px;
    min-width: 100px;
    font-weight: normal;
}

.serviceProviderPageContainer .profile .data {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px;
}

/******************************************************
*   サービス提供者情報ページ：サービス提供者情報
******************************************************/
.serviceProviderPageContainer .serviceProviderContainer .profile .itemName {
    color: #ff7373;
}

/******************************************************
*   サービス提供者情報ページ：担当者情報
******************************************************/
.serviceProviderPageContainer .userContainer .profile .itemName {
    color: #8a8aff;
}

/******************************************************
*   サービス提供者情報ページ：LINE情報
******************************************************/
.serviceProviderPageContainer .lineContainer .profile .itemName {
    color: #29cb29;
}

/******************************************************
*   サービス提供者情報ページ：グリッド
******************************************************/
.serviceProviderPageContainer .grid {
    margin: 15px;
    height: 300px;
}

/******************************************************
*   サービス提供者情報ページ：グラフ
******************************************************/
.serviceProviderPageContainer .statisticsContainer {
    margin: 15px;
}

.serviceProviderPageContainer .doughnutChartContainer {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    margin-bottom: 15px;
}

.serviceProviderPageContainer .doughnutChartContainer .chartContainer { height: 300px; }

.serviceProviderPageContainer .dateBarChartContainer .chartContainer { height: 400px; }