@charset "utf-8";

/******************************************************
*   サービス提供者設定ページ
******************************************************/
.settingServiceProviderPage { display: none; }

.settingServiceProviderPage .pageContainer { padding: 15px; }

.settingServiceProviderPage .pageContainer .row {
    margin-bottom: 15px;
    width: 100%;
}

.settingServiceProviderPage .errorMessage {
    display: none;
    margin-bottom: 15px;
    width: 100%;
}

.settingServiceProviderPage .pageContainer .row .inputLabel { margin-bottom: 10px; }

.settingServiceProviderPage .row .inputLabel { margin-bottom: 10px; }

.settingServiceProviderPage .pageContainer input,
.settingServiceProviderPage .pageContainer button { width: 100%; }