@charset "utf-8";

/******************************************************
*   LINEプロフィール情報コンテナー
******************************************************/
.lineProfileContainer {
    display: flex;
}

/******************************************************
*   LINEプロフィール情報コンテナー：プロフィールテーブル
******************************************************/
.lineProfileContainer .tableContainer { flex: 1; }

.lineProfileContainer .tableContainer .infoTable {
    width: 100%;
    height: 100%;
}

.lineProfileContainer .tableContainer .infoTable th,
.lineProfileContainer .tableContainer .infoTable td { vertical-align: middle; }