@charset "utf-8";

/******************************************************
*   LINEユーザー情報コンテナー
******************************************************/
.lineUserContainer {
    display: flex;
    flex-direction: column;
}

/******************************************************
*   LINEユーザー情報コンテナー：ヘッダー
******************************************************/
.lineUserContainer > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-top: solid 1px var(--colorGray);
    border-bottom: solid 1px var(--colorGray);
}

.lineUserContainer > header .caption {
    font-weight: bold;
    color: var(--colorViolet);
}

.lineUserContainer > header .labelBox { min-width: 120px; }

/******************************************************
*   LINEユーザー情報コンテナー：メイン
******************************************************/
.lineUserContainer > main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/******************************************************
*   LINEユーザー情報コンテナー：テーブル
******************************************************/
.lineUserContainer .tableContainer { flex: 1; }

.lineUserContainer .tableContainer .infoTable {
    width: 100%;
    height: 100%;
}

.lineUserContainer .tableContainer .infoTable th,
.lineUserContainer .tableContainer .infoTable td { vertical-align: middle; }